= form_for @article, :html => {:multipart => true} do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .row
    .columns.small-12
      = f.label :name
      = f.text_field :name
  .row
    .columns.small-4.large-4
      = f.label "Upload image"
      = f.file_field :image, class: "button tiny"
    .columns.small-8.large-8
      = f.label :remote_image_url, "or image URL" 
      = f.text_field :remote_image_url, placeholder: @article.image_url.to_s
      %small= @article.image_url.to_s
  .row
    .columns.small-12
      = f.label :content
      = f.text_area :content
  .row
    .columns.small-12
      = f.label :category_id
      = f.collection_select :category_id, Category.all, :id, :name
  .row
    .columns.small-12
      = f.label :summary
      = f.text_field :summary
  .row
    .columns.small-12
      = f.label :keyword
      = f.text_field :keyword
  .actions
    = f.submit 'Save'
