%h1 Listing articles
= link_to 'New Article', new_article_path if admin_signed_in?
%hr
- @articles.each do |article|
  .row
    .columns.small-12
      %h3= link_to article.name, article_path(article)
  .row
    .columns.small-4
      = link_to (image_tag article.image_url(:thumb).to_s), article_path(article)
    .columns.small-8
      = sanitize (truncate_html((markdown article.content), length: 400)), tags: %w(p ul li ol strong)
  .row
    .columns.small-2.right
      = link_to article.category.name, category_path(article.category_id)
  - if admin_signed_in?
    %hr
    %ul.button-group.radius
      %li= link_to 'Show', article, class: "button success"
      %li= link_to 'Edit', edit_article_path(article), class: "button"
      %li= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button alert"
  %hr
