%h1 <i class="fi-star"></i> Listing articles
%hr
- @articles.each do |article|
  %tr
    %h3= article.name
    = article.image
    = truncate_html((markdown article.content), length: 250)
    = article.category.name if article.category.present?
    = article.summary
    = article.keyword
    %hr
    %ul.button-group.radius
      %li= link_to 'Show', article, class: "button success"
      %li= link_to 'Edit', edit_article_path(article), class: "button"
      %li= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button alert"

%br

= link_to 'New Article', new_article_path
