- title @article.name
- meta_keywords @article.keyword
- meta_description @article.summary

= notice
%ul.breadcrumbs
  %li= link_to 'Home', root_path
  %li= link_to 'Articles', articles_path
  %li= link_to @article.category.name, category_path(@article.category_id)

%h1= @article.name
= image_tag @article.image_url(:large).to_s, class: "main-image"
= markdown @article.content

= render 'shared/author', author: @article.author if @article.author.present?

.addthis_sharing_toolbox
%h3
  Category:
  = link_to @article.category.name, category_path(@article.category_id)

.fb-comments{"data-colorscheme" => "light", "data-href" => "http://expatsandaliens.com/#{article_path(@article)}", "data-numposts" => "5"}

= render "shared/related", related_articles: Article.order("RANDOM()").where('id NOT IN (:id)', id: @article.id).limit(3)

- if admin_signed_in?
  = link_to 'Edit', edit_article_path(@article)
  = link_to 'Back', articles_path
