- title @article.name
- meta_keywords @article.keyword
- meta_description @article.summary

= notice

%ul.breadcrumbs
  %li= link_to 'Home', root_path
  %li= link_to 'Articles', articles_path
  %li= link_to @article.category.name, category_path(@article.category_id)

%h1= @article.name
= image_tag @article.image_url(:large).to_s, class: "main-image"
= markdown @article.content
%h3
  Category:
  = link_to @article.category.name, category_path(@article.category_id)
- if admin_signed_in?
  = link_to 'Edit', edit_article_path(@article)
  = link_to 'Back', articles_path
