= form_for @author do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .row
    .columns.small-4.large-4
      = f.label "Upload avatar"
      = f.file_field :avatar, class: "button tiny"
    .columns.small-8.large-8
      = f.label :remote_avatar_url, "or avatar URL" 
      = f.text_field :remote_avatar_url, placeholder: @author.avatar_url.to_s
      %small= @author.avatar_url.to_s
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :bio
    = f.text_area :bio
  .actions
    = f.submit 'Save'
