%p#notice= notice

= image_tag @author.avatar.large if @author.avatar.present?
%h3= @author.name

= @author.website
%h4 BIO
%hr
= @author.bio

%hr
- if admin_signed_in?
  = link_to 'Edit', edit_author_path(@author)
  \|
  = link_to 'Back', authors_path
