%p#notice= notice

%p
  %b Name:
  = @author.name
%p
  %b Avatar:
  = @author.avatar
%p
  %b Email:
  = @author.email
%p
  %b Website:
  = @author.website
%p
  %b Bio:
  = @author.bio

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
