%h1 <i class="fi-star"></i> Listing categories
%hr
- @categories.each do |category|
  %h3=  category.name
  = truncate_html((markdown category.description), length: 250)
  %ul.button-group.radius
    %li= link_to 'Show', category, class:  'button success'
    %li= link_to 'Edit', edit_category_path(category), class:  'button'
    %li= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' } ,class:  'button alert'

%br

= link_to 'New Category', new_category_path
