%p#notice= notice

%h1= raw('<i class="fi-star"></i>') + @category.name
%hr
= markdown @category.description

%ul.button-group.radius
  %li= link_to 'Edit', edit_category_path(@category), class: 'button'
  %li= link_to 'Back', categories_path, class: 'button'
