%footer.footer
  .row
    .columns.small-4
      %ul.no-bullet
        - Category.all.each do |category|
          %li=  nav_link category.name, category_path(category)
    .columns.small-4
      %ul.no-bullet
        %li= link_to "Facebook"
        %li
          %a Linkedin
        %li
          %a Twitter
        %li
          %a Google+
        %li
          %a Pinterest
        %li
          %a Subscribe
    .columns.small-4
      %ul.no-bullet
        %li= link_to "Contact Us", page_path(Page.find_by_name("Contact"), anchor: "contact")
        %li= link_to "Write for Us ", page_path(Page.find_by_name("Contact"),anchor: "write")
        %li= link_to "Advertising", page_path(Page.find_by_name("Contact"), anchor: "advertise")
        %li= link_to "Questions and Comments", page_path(Page.find_by_name("Contact"), anchor: "questions")
        %li= link_to "About Us", page_path(Page.find_by_name("Contact"), anchor: "about")

