%footer.footer
  .row
    .columns.small-4
      %ul.no-bullet
        - Category.all.each do |category|
          %li=  nav_link category.name, category_path(category)
    .columns.small-4
      %ul.no-bullet
        %li
          %a{href: "https://twitter.com/ExpatsandAliens"} Twitter
        %li
          %a{href: "https://plus.google.com/108646788016475318172", rel:"publisher"} Google+
        %li
          %a{href: "https://www.facebook.com/expatsandaliens?ref_type=bookmark"} Facebook
        %li
          %a{href: "http://www.linkedin.com/company/expats-and-aliens?trk=biz-companies-cyf"} Linkedin
        %li
          %a{href: "http://www.pinterest.com/ExpatsandAliens/"} Pinterest
        %li
          %a{href: "https://plus.google.com/107674076399396428184", rel: "publisher"} Google+

    .columns.small-4
      %ul.no-bullet
        %li= link_to "Contact Us", page_path(Page.find_by_name("Contact"), anchor: "contact")
        %li= link_to "Write for Us ", page_path(Page.find_by_name("Contact"),anchor: "write")
        %li= link_to "Advertising", page_path(Page.find_by_name("Contact"), anchor: "advertise")
        %li= link_to "Questions and Comments", page_path(Page.find_by_name("Contact"), anchor: "questions")
        %li= link_to "About Us", page_path(Page.find_by_name("Contact"), anchor: "about")
  .row
    .columns.small-12
